 <%= f.error_messages %>

<div class="row"> 
  <div class="col-md-6">
    <% if @blip.errors[:title].present? %>
      <div class="form-label-error"> Title <%= @blip.errors[:title].first %> </div>
    <% else %>
      <div class="form-label">Title</div>
    <% end %>
    <div class="form-field">
      <% if @blip.errors[:title].present? %> 
        <%= f.text_field :title, class: 'form-control error-red' %>
      <% else %>
        <%= f.text_field :title, class: 'form-control' %>
      <% end %>
    </div>

    <% if @blip.errors[:link].present? %>
      <div class="form-label-error"> Link <%= @blip.errors[:link].first %> </div>
    <% else %>
      <div class="form-label"> Link </div>
    <% end %>
    <div class="form-field">
      <% if @blip.errors[:link].present? %>
        <%= f.text_field :link, class: 'form-control error-red' %>
      <% else %>
        <%= f.text_field :link, class: 'form-control' %>
      <% end %>
    </div>

    <div class="row">
      <div class="col-md-6">
        <% if @blip.errors[:startTime].present? %>
          <div class="form-label-error"> Start Time <%= @blip.errors[:startTime].first %> </div>
        <% else %>
          <div class="form-label">Start Time</div>
        <% end %>
        <div class="form-field">
          <% if @blip.errors[:startTime].present? %>
            <div class="error-red"><%= f.datetime_select :startTime,  :include_blank => true , start_year: Date.today.year , end_year: Date.today.year + 5 , class: 'form-control' %></div>
          <% else %>
            <%= f.datetime_select :startTime,  :include_blank => true , start_year: Date.today.year , end_year: Date.today.year + 5 , class: 'form-control' %>
          <% end %>  
        </div>
      </div>

      <div class="col-md-6">
        <div style="float:right">
          <% if @blip.errors[:endTime].present? %>
            <div class="form-label-error"> End Time <%= @blip.errors[:endTime].first %> </div>
          <% else %>
            <div class="form-label">End Time</div>
          <% end %>
          <div class="form-field">
            <% if @blip.errors[:endTime].present? %>
              <div class="error-red"><%= f.datetime_select :endTime,  :include_blank => true , start_year: Date.today.year , end_year: Date.today.year + 5 , class: 'form-control' %></div>
            <% else %>
              <%= f.datetime_select :endTime,  :include_blank => true , start_year: Date.today.year , end_year: Date.today.year + 5 , class: 'form-control' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <% if @blip.errors[:summary].present? %>
      <div class="form-label-error"> Summary <%= @blip.errors[:summary].first %> </div>
    <% else %>
      <div class="form-label">Summary</div>
    <% end %>
    <div class="form-field">
      <% if @blip.errors[:summary].present? %>
        <%= f.text_area :summary, rows: "8", class: 'form-control error-red form-text-area' %>
      <% else %>
        <%= f.text_area :summary, rows: "8", class: 'form-control form-text-area' %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-6"> 
    <% if @blip.errors[:address].present? %>
      <div class="form-label-error"> Address <%= @blip.errors[:address].first %> </div>
    <% else %>
      <div class="form-label">Address</div>
    <% end %>
    <div class="form-field">
      <% if @blip.errors[:address].present? %>
        <%= f.text_field :address, class: 'form-control error-red' %>
      <% else %>
        <%= f.text_field :address, class: 'form-control' %>
      <% end %>
    </div>
  </div>

    
  <div class="col-md-3">
    <% if @blip.errors[:lat].present? %>
      <div class="form-label-error"> Latitude <%= @blip.errors[:lat].first %> </div>
    <% else %>
      <div class="form-label">Latitude</div>
    <% end %>
    <div class="form-field" style="margin: 0px 0px 0px 0px">
      <% if @blip.errors[:lat].present? %>
        <%= f.number_field :lat, :step => 'any',  class: 'form-control error-red' %>
      <% else %>
        <%= f.number_field :lat, :step => 'any',  class: 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="col-md-3">
    <% if @blip.errors[:lng].present? %>
      <div class="form-label-error"> Longitude <%= @blip.errors[:lng].first %> </div>
    <% else %>
      <div class="form-label">Longitude</div>
    <% end %>
    <div class="form-field" style="margin: 0px 0px 0px 0px">
      <% if @blip.errors[:lng].present? %>
        <%= f.number_field :lng, :step => 'any',  class: 'form-control error-red' %>
      <% else %>
        <%= f.number_field :lng, :step => 'any',  class: 'form-control' %>
      <% end %>
    </div>
  </div>

</div>









