<h1 class="title-of-page">Your Blips</h1>

<table class="table table-striped table-bordered table-condensed" id="fixed-table">
  <thead>
  <tr>
    <th class="col-md-2">Title</th>
    <th class="col-md-3">Summary</th>
    <th class="col-md-1">Link</th>
    <th class="col-md-1">Time</th>
    <th class="col-md-1">Address</th>
    <th class="col-md-1">Latitude</th>
    <th class="col-md-1">Longitude</th>
    <th class="col-md-2">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% unless @blipsArray.empty? %>
      <% @blipsArray.each do |blipHash| %>
          <tr>
            <td><div class="fixed-table-data"><%= blipHash["title"]                                                                               %></div></td>
            <td><div class="fixed-table-data"><%= blipHash["summary"]                                                                             %></div></td>
            <td><div class="fixed-table-data" style="overflow:hidden"><%= link_to blipHash["link"],blipHash["link"] if blipHash["link"] != nil    %></div></td>
            <td><div class="fixed-table-data"><%= blipHash["time"]                                                                                %></div></td>
            <td><div class="fixed-table-data"><%= blipHash["address"]                                                                             %></div></td>
            <td><div class="fixed-table-data"><%= blipHash["lat"]                                                                                 %></div></td>
            <td><div class="fixed-table-data"><%= blipHash["lng"]                                                                                 %></div></td>

            <td>
              <%= link_to "Show", {:action => "show" , :id => blipHash["id"]}, class: "btn btn-small" %>
              <%= link_to "Edit", {:action => "edit" , :id => blipHash["id"]}, class: "btn btn-small" %>
              <%= link_to "Delete", {:action => "destroy", :id => blipHash["id"]}, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-small" %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr>
        <td>Hello Club President! Welcome! Send your first blip by clicking the + icon below</td>
      </tr>
  <% end %>
  </tbody>

</table>

<div class="contextual">
  <%= link_to(new_blip_path, class: "btn btn-success btn-lg") do %>
      <i class="glyphicon glyphicon-plus"></i> &nbsp;New Blip
  <% end %>
</div>