<h1>Make a Blip</h1>

<%= form_for @blip do|f| %>
  Title:     <%= f.text_field :title%> <br /><br />
  Summary:   <%= f.text_area :summary%> <br /><br />
  Link:      <%= f.text_field :link %><br /><br />
  Time:      <%= f.time_field :time %> <br /><br />
  Latitude:  <%= f.number_field(:lat, :step => 'any')%> <br /><br />
  Longitude: <%= f.number_field(:lng, :step => 'any')%> <br /><br />
  <%= button_tag(type: 'submit', class: "btn btn-success btn-lg") do %>
 	<i class="glyphicon glyphicon-ok"></i>&nbsp;Create Blip
  <% end %>
<% end %>

<br />

<%= link_to root_path, class: "btn btn-primary btn-lg" do%>
	<i class="glyphicon glyphicon-home"></i> &nbsp;Home
<% end %>