<h1>Make a Blip</h1>

<%= form_for @blip do|f| %>
  Title:     <%= f.text_field :title%> <br /><br />
  Summary:   <%= f.text_area :summary%> <br /><br />
  Link:      <%= f.text_field :link %><br /><br />
  Time:      <%= f.time_field :time %> <br /><br />
  Latitude:  <%= f.number_field(:lat, :step => 'any')%> <br /><br />
  Longitude: <%= f.number_field(:lng, :step => 'any')%> <br /><br />
  <%= f.submit %>
<% end %>

<%= link_to "Back to Home" , root_path %>