<h1><%= @blipHash["title"] %></h1>
<h2><%= @blipHash["summary"]%></h1>
<h3><%= @blipHash["address"] %></h1>

<% if (@blipHash["lat"] != nil && @blipHash["lng"] != nil) %>
	<h5><%= "Latitude: #{@blipHash["lat"]} Longitude: #{@blipHash["lng"]}" %></h1>
<% end %>

<h3><%= @blipHash["startTime"] %></h3>
<h3><%= @blipHash["endTime"] %></h3>

<br />

<% if @blipHash["link"] != nil %>
	<h4><%= link_to @blipHash["link"] , @blipHash["link"] %></h1>
<% end %>

<br />
<br />

<%= link_to root_path, class: "btn btn-primary btn-lg" do%>
	<i class="glyphicon glyphicon-home"></i> &nbsp;Home
<% end %>
